@using HW7_8.Data.Repository;

@model HW7_8.Models.Expenses;
@inject CategoryRepository categoryRepository;

@{
    var selectedCategory = new SelectList(categoryRepository.GetCategories(), "Id", "Name");
}

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">

<div>
    <div class="row">
        <div class="col-md-8">
            <form id="expenseForm">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-select" asp-items="@selectedCategory">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="MoneySpent" class="control-label"></label>
                    <input asp-for="MoneySpent" class="form-control" />
                </div>
                <div class="form-group" id="calender-container">
                    <label asp-for="Date" class="control-label"></label>
                    <div class="input-group date">
                        <input asp-for="Date" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" id="btnSubmit" class="btn btn-block btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $('body').on('click', "#btnSubmit", function () {
        var formData = $("#expenseForm").serialize();

        $.ajax({
            type: "POST",
            url: "/Expenses/AddEdit",
            data: formData,
            success: function () {
                $("#myModal").modal("hide");  
                window.location.href = "/Expenses/Index"; 
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    })
</script> 